body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navigator {
  height: 100%;
  width: 20%;
  position: fixed;
  background-color: rgb(0, 0, 94);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
  z-index: 5;
}
.navigator > img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 250px;
  box-shadow: 5px 1px 10px;
}
.navigator > a {
  text-decoration: none;
  color: gold;
  font-size: clamp(14px,2vw,22px);
  line-height: 180%;
}
.navigator > p {
    color: white;
    font-size: clamp(16px,2vw,28px);
}
.navigator > a:hover {
  border-radius: 10px;
  background-color: blue;
}
.one,
.two,
.three,
.four,
.five,
.overlay {
  width: 80%;
  margin-left: 20%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.one,
.three,
.five {
  background-color: grey;
}
.one {
  background-image: url("../images/tech1.jpg");
  background-size: cover;
}
.overlay{
    margin-left: 0;
    background-color: rgba(0, 0, 139, 0.5);
    position: absolute;
    width: 80%;
    z-index: 2;
}

.two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
  margin-left: 20%;
}
.twoimg {
  max-width: 500px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}
.twoimg > img {
    width: 70%;
  max-width: 250px;
  object-fit: cover;  
  box-shadow: 1px 1px 10px 1px;

}
.two > p {
  position: relative;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: clamp(24px, 3vw, 34px);
  color: rgb(6, 6, 7);
  /* background-color: srgba(251, 255, 14, 0.555); */
  padding: 50px;
}
.twotext{
    margin: auto;
    font-size: clamp(16px, 3vw, 24px);

}

.logo {
  width: 60%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(34px, 3vw, 46px);
  font-weight: 700;
  background-color: rgba(0, 0, 139, 0.8);
  padding: 8%;
  color: white;
  letter-spacing: 5px;
  z-index: 3;
}
.logo > p{
    z-index: 3;
    font-size: 16px;
    word-spacing: 20px;
}
.logotext{
    position: absolute;
    top: 500px;
    color: white;
    z-index: 3;
    font-size: clamp(16px, 3vw, 24px);
    letter-spacing: 2px;
    font-style: italic;
}

.three {
  background-image: url("../images/tech2.jpg");
  background-size: cover;
  background-position: center;
}
.opacLayer {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 139, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.opacLayer > p {
  margin: auto;
  color: gold;
  padding: 50px;
  font-size: clamp(26px, 3vw, 46px);
  font-weight: 100;
}

.four {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  text-align: left;
  font-family: italic;
  font-variant: small-caps;
  font-size: clamp(16px, 2vw, 26px);
}
.fourtext{
    margin: 25px;
    padding: 25px;
}
.fourimages > img{
    max-width: 500px;
}
.pushR{
    text-align: right;
}

.five {
  background-image: url("../images/tech3.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
}
.opacFive {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 139, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.opacFive > p {
  margin: 0;
  color: gold;
  padding: 20px;
}
.opacFive > a {
    text-decoration: none;
    margin: 0;
    color: gold;
    padding: 20px;
  }
.opacFive > p:hover {
  margin: 0;
  color: white;
  padding: 20px;
}
@media screen and (max-width: 900px) {
  .two {
    flex-direction: column;
    height: 800px;
  }
  .twotext > p {
    z-index: 1;
    padding-left: 50px;
    padding-right: 50px;
  }
  .twoimg{
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }
  .twoimg>img{
    margin: auto;
  }
  .twoimg>p{
    text-align: center;
  }
  .one,
  .two,
  .three,
  .four,
  .five {
    width: 100%;
    margin: 0;
  }
  .navigator {
    width: 100%;
    height: auto;
    background-color: darkblue;
    opacity: 1;
    z-index: 1;
    position: relative;
    padding-bottom: 50px;
  }
  .navigator > img {
    display: none;
  }
  .overlay{width: 100%;}
  .logotext{
    top: 700px;
    padding: 50px;
  }
  .four{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .fourimages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .fourimages>img{
    margin: auto;
    max-width: 300px;
  }

}
