body, html {
  font-family:helvetica;
    margin: 0;
    padding: 0;
  width: 100%;
}
#hero img{
  width:100%;
  margin: auto;
  object-fit: cover;
  /* position: relative; */

}
.herotxt{
  font-size: 15vw;
  position: absolute;
  top:0;
  left: 10px;
  font-weight: bold;
  color:black;
}
#herotxt2{
  top: 15vw;
}
#herotxt3{
  top: 30vw;
}
#herotxt4{
  font-size: 3vw;
  color: rgb(180,150,150);
  left:70%;
  top:35vw;
}
.second{
  /* word-spacing: 12vw; */
  display: grid;
  grid-template-columns: repeat(9,1fr);
  text-align: center;
  font-family: Didot, serif;
  text-transform: uppercase;
  font-size: 1.5vw;
  padding: 5vw;
}
.line{
  width: 3vw;
  height: .2vw;
  background-color: black;
  margin:auto;
}
.third{
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}
.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card div{
  width: 400px;
}
