nav div{
  width: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}
.navi:hover{
  background-color: rgb(200,200,200);
  color:black;
}
nav{
  display:grid;
  grid-template-columns: auto auto auto auto auto;
}
body{
  width: 85%;
  margin: auto;
  background-image: linear-gradient(to bottom, black 0%, black 30%, rgb(25, 25, 25) 40%, black 60%, rgb(25, 25, 25) 80%, black 100%);
  color: rgb(200, 200, 200);
  font-family: helvetica;
}
#product1{
  width: 100%;
  margin: auto;
  position: relative;
}
img#product1{
  filter:brightness(50%);
}
#first{
  position: relative;
}
#txtlayer{
  display: grid;
  grid-template-rows: auto auto auto;
  position: absolute;
  top:0;
  left: 10%;
}
.overlaytxt{
  font-size: 12vw;
  font-weight: bold;
}
#p1txt1{
  top:10%;
}
#p1txt2{
  /* color:rgba(0,0,0,1); */
  top:30%;
  /* text-shadow:
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white; */
}
#p1txt3{
  top:50%;
}
#productInfo1{
  text-align: center;
  font-size: 3vw;
  width: 70%;
  margin-top: 200px;
  margin-left:auto;
  margin-right:auto;
  line-height: 2;
  letter-spacing: 5px;
}
#product1d2{
  width: 100%;
}
#productInfo2{
  line-height: 2;
  letter-spacing: 5px;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}
#info2{
  font-size: 3vw;
}

#productInfo3{
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5%;
}
#productInfo3 h3{
  font-size: 4vw;
}
#productInfo3 h5{
  font-size: 2vw;
}
#productInfo3 a{
  text-decoration: none;
  color:white;
  padding:10px;
}
#productInfo3 a:hover{
  padding:10px;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
  text-decoration: none;
  color:white;
}
footer {
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
footer div h4{
  margin:0;
  padding:0;
}
footer div h4{
  font-weight: lighter;
}
@media screen and (max-width: 768px) {
  /* .overlaytxt{
    font-size: 4em;
    font-weight: bold;
  } */
  #info2{
    font-size: 1em
  }
}

/* Media query for larger screens */
@media screen and (min-width: 1200px) {
  /* .overlaytxt{
    font-size: 13em;
    font-weight: bold;
  } */
  #info2{
    font-size: 4em
  }
}
