/* Default styles */
body {
    background-color: rgba(53,83,71,255);
    color: rgba(214,217,208,255);
        font-family: Arial, sans-serif;
}

#logo{
    width: 100px;height: 100px;border-radius: 100%;
    grid-column: 0/1;
    grid-row: 0/2;
}
#divOne{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
#divTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    p{
        max-width: 70rem;
        text-indent: 10rem;
    }
}
.divClass{
    padding: 1rem;
}
/* Styles for portrait orientation */
@media screen and (orientation: portrait) {
    
}

/* Styles for landscape orientation */
@media screen and (orientation: landscape) {
    body {
        background-color: rgba(53,83,71,255);
        color: rgba(214,217,208,255)
    }
}