body{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(230, 235, 235);
}
#divOne{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    padding: 2rem;
}
#divOneA{
    border: 3px solid black;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
}
#divOneB{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
}
#divTwo{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: blue;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100vw;
    
}
#divTwoA,
#divTwoB,
#divTwoC,
#divTwoD,
#divTwoE{
    padding: 1rem 2rem;
}
#divTwoA:hover,
#divTwoB:hover,
#divTwoC:hover,
#divTwoD:hover,
#divTwoE:hover{
    color: lightblue;
    font-weight: bold;
}
#divThree {

    padding-top: 5rem;
    display: flex;
    overflow-x: auto;
    width: 100vw;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: scroll;
    text-align: center;
}
#divThree img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

#divThreeA,
#divThreeB,
#divThreeC {
    flex: 0 0 100vw;
    scroll-snap-align: start;
    font-size: 26px;
}
#divFour{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}

