:root {
    --color1: #ecc8af;
    --color2: #e7ad99;
    --color3: #ce796b;
    --color4: #c18c5d;
    --color5: #495867;
}



a {
    text-decoration: none;
    color: inherit;
}

body,
header,
main {
    font-family: "Anybody", sans-serif;
    width: 100%;
    background-color: var(--color5);
    color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: rgba(206, 121, 107, 0.3);
    padding: 30px 0 20px 0;

    h1 {
        font-size: 3.5rem;
        letter-spacing: .7rem;
        color: var(--color4);
        word-spacing: 1.6rem;
    }

    a:hover {
        color: var(--color4);
    }
}

#navBar {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;

    a {
        padding: 0 30px 0 30px;
        letter-spacing: .3rem;
    }
}

#resume {
    padding-top: 10px;
    display: none;
    max-width: 800px;

    h2 {
        font-size: 2rem;
        padding: 0px;
        color: var(--color4);
    }

    h3 {
        color: var(--color4);
        padding: 10px 40px 0 40px;
    }

    p {
        padding: 0 70px;
        font-size: 1.2rem;
        line-height: 2.9rem;
    }
    .point{
        text-indent: 50px;
        line-height: .7rem;
    }
    a{
        width: 100%;
        text-align: center;
    }
    a:hover h2{
        color: white;
    }
    
}

#projects {
    display: none;
}

#projectDisplay {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectBox {
    width: 200px;
    height: 200px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.projectBox:hover {
    background-color: var(--color4);
}
#oldsite:hover{
    color: var(--color2);
    background-image: url('../images/oldPersonal.png');
    background-size: cover;
    background-position: center;

    /* Add an overlay for opacity */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust alpha value for transparency */
    background-blend-mode: overlay;
}
#gitlink:hover{
    color: var(--color2);
    background-image: url('../images/git.jpeg');
    background-size: cover;
    background-position: center;

    /* Add an overlay for opacity */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust alpha value for transparency */
    background-blend-mode: overlay;
}
#linkedin:hover{
    color: var(--color2);
    background-image: url('../images/in.jpeg');
    background-size: cover;
    background-position: center;

    /* Add an overlay for opacity */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust alpha value for transparency */
    background-blend-mode: overlay;
}
#flutter:hover{
    color: var(--color2);
    background-image: url('../images/flutter.png');
    background-size: cover;
    background-position: center;

    /* Add an overlay for opacity */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust alpha value for transparency */
    background-blend-mode: overlay;
}
#ruby:hover{
    color: var(--color2);
    background-image: url('../images/ruby.png');
    background-size: cover;
    background-position: center;

    /* Add an overlay for opacity */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust alpha value for transparency */
    background-blend-mode: overlay;
}
#plan:hover{
    color: var(--color2);
    background-image: url('../images/sampleSite.png');
    background-size: cover;
    background-position: center;

    /* Add an overlay for opacity */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust alpha value for transparency */
    background-blend-mode: overlay;
}
#aboutMe {
    max-width: 800px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;

    p {
        padding: 0 15px 50px 15px;
        text-indent: 50px;
        font-size: 1.3rem;
        line-height: 2rem;
    }
    img{
        width: 500px;
    }
}

/**Mobile View**/
@media screen and (max-width: 850px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #navBar {
        flex-direction: column;
        align-items: center;
    }

    #navBar a {
        padding: 20px 0;
    }
    #resume {
        width: 100%;
        padding: 50px 50px;
        h2, h3{
            width: 100%;
            text-align: center;
            padding: 15px 0;
            margin: 0;
        }
        p{
            line-height: 2rem;
        }
        a > h2{
            margin-top: 50px;
            margin-bottom: 100px;
        }
    }

    #aboutMe img {
        width: 100%;
    }

    #projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #projectDisplay {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .projectBox {
        width: calc(100vw/3);
        height: calc(100vw/3);
        background-color: var(--color5);
        transition: background-color 0.3s ease;
    }
    


}