body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

.floatingHead {
    z-index: 10;
    position: fixed;
    top: 10%;
    left: 1rem;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(#dbd8b3, #dbd8b3);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    transition-duration: 2s;
}

.floatingHead img {
    width: 150%;
    height: auto;
    clip-path: circle();
    object-fit: cover;
    object-position: 10px;
}

.floatingHead:hover {
    background-image: linear-gradient(#685369, #dbd8b3);
    width: 125px;
    height: 125px;
    top: calc(5% - 12.5px);
    left: calc(1rem - 12.5px)
}

.topBorder {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100px;
}

.title {
    width: 100%;
    background-color: white;
    /* background-image: linear-gradient(to bottom, #c6d8af,white); */
}

.title * {
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #685369a4;
    font-size: clamp(2rem, 4vw, 6rem);

}

.topBorder a:nth-of-type(1) {
    color: #c6d8af;
}

.topBorder a:nth-of-type(2) {
    color: #fcc8b2;
}

.topBorder a:nth-of-type(3) {
    color: #685369;
}

.topBorder a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: black;
}

.topBorder a:nth-of-type(1) {
    grid-column: 4/5;
}

.topBorder a:nth-of-type(2) {
    grid-column: 5/6;
}

.topBorder a:nth-of-type(3) {
    grid-column: 6/7;
}

.linkicon:hover {
    text-shadow: 1px 1px 3px black;
}

main {
    width: 100%;
}


section:nth-of-type(1) {
    width: 100%;
    background-color: #c6d8af52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}

.displayBox {
    width: 90%;
    max-width: 700px;
    height: 350px;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.floatTitle {
    position: absolute;
    top: 10%;
    font-size: clamp(16px, 2vw, 26px);
    font-weight: 100;
    letter-spacing: 0.5rem;
    opacity: 0.5;
    background-color: #dbd8b32f;
    padding: 5px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.753);
    white-space: nowrap;
}

.gridClass {
    margin: 1rem;
    transform: rotateY(35deg);
}

.displayBox:hover .gridClass {
    transform: rotateY(0deg);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.gridClassOne {
    height: 150px;
    width: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gridClassTwo {
    height: 150px;
    width: 200px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr;
}

.exampleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.gridClassOne *,
.gridClassTwo * {
    margin: 5px;
}

.one {
    width: 100%;
    background-color: #c6d8af;
}

.two {
    width: calc(60% - 10px);
    background-color: #dbd8b3;
}

.three {
    width: calc(40% - 10px);
    background-color: #fcc8b2;
}

.four {
    width: 100%;
    background-color: #efa48b;
}

.five {
    width: 100%;
    background-color: #685369;
}

.six {
    width: calc(50% - 10px);
    background-color: #c6d8af;
}

.seven {
    width: calc(50% - 10px);
    background-color: #dbd8b3;
}

.onegrid {
    width: calc(100% - 10px);
    background-color: #c6d8af;
    grid-column: 1/7;
    grid-row: 1;
}

.twogrid {
    width: calc(100% - 10px);
    background-color: #dbd8b3;
    grid-column: 1/3;
    grid-row: 2;
}

.threegrid {
    width: calc(100% - 10px);
    background-color: #fcc8b2;
    grid-column: 3/5;
    grid-row: 2;
}

.fourgrid {
    width: calc(100% - 10px);
    background-color: #efa48b;
    grid-column: 5/7;
    grid-row: 2;
}

.fivegrid {
    width: calc(100% - 10px);
    background-color: #685369;
    grid-column: 1/5;
    grid-row: 3;
}

.sixgrid {
    width: calc(100% - 10px);
    background-color: #c6d8af;
    grid-column: 5/7;
    grid-row: 3;
}

.sevengrid {
    width: calc(100% - 10px);
    background-color: #dbd8b3;
    grid-column: 1/7;
    grid-row: 4;
}

.lowertext {
    position: absolute;
    bottom: -50px;
    text-align: center;
    right: 0;
    left: 0;
}

section:nth-of-type(2) {
    width: 100%;
    background-color: #efa48b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flexTitle {
    position: absolute;
    top: -15%;
    font-size: clamp(16px, 2vw, 26px);
    font-weight: 100;
    letter-spacing: 0.5rem;
    opacity: 0.5;
    background-color: #dbd8b32f;
    padding: 5px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.753);
    white-space: nowrap;
}

.flexTitle2 {
    top: -5%;
}

.flexbox {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 300px;
    width: 200px;
    background-color: white;
    transition-duration: 2s;
    overflow: hidden;
    justify-content: space-evenly;
}

.flexbox:hover {
    height: 250px;
    width: 400px;
}

.flexbox:hover .flOne {}

.flexbox * {
    margin: 3px;
}

.flOne {
    width: calc(100% - 6px);
    height: 50px;
    background-color: #c6d8af;
}

.flTwo {
    width: calc(200px - 6px);

    height: 50px;
    background-color: #efa48b;
}

.flThr {
    width: calc(50px - 6px);

    height: 50px;
    background-color: #fcc8b2;
}

.flFou {
    width: calc(50px - 6px);

    height: 50px;
    background-color: #685369;
}

.flFiv {
    width: calc(50px - 6px);

    height: 50px;
    background-color: #c6d8af;
}

.flSix {
    width: calc(40% - 6px);

    height: 50px;
    background-color: #efa48b;
}

.flSev {
    width: calc(40% - 6px);

    height: 50px;
    background-color: #fcc8b2;
}

.flEig {}

.flNin {
    width: calc(100% - 6px);
    height: 50px;
    background-color: #685369;
}


.space {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* height: 300px; */
    width: 100%;
    padding: 100px 0;
    position: relative;
}

.space h2 {
    position: absolute;
    top: 0;
    /* color: #685369; */
    font-size: clamp(16px, 2vw, 26px);
    font-weight: 100;
    letter-spacing: 0.5rem;
    opacity: 0.5;
    background-color: #dbd8b32f;
    padding: 5px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.753);
    white-space: nowrap;
}

.previewCard {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: auto;
    aspect-ratio: 1/1;
    transform: rotateY(30deg);
    border-radius: 25px;
    object-fit: contain;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

}

.previewCard:hover {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 51%, 0% 0%);
}

.previewCard:hover .workLinks h3 {
    opacity: 1;
    /* Show h3 on hover */
}

.linkImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.linkImage:hover {
    filter: blur(25px);
}

.workLinks {
    display: flex;
    justify-content: center;

}

.workLinks h3 {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    font-size: clamp(.8rem, 3vw, 2.5rem);
    width: 75%;
    top: 25%;
    left: 10%;
    display: none;
    color: white;
    text-shadow: 1px 1px 3px #685369;
    text-transform: uppercase;
    font-weight: 1000;
    opacity: 0;
    /* Initially hide the h3 */
    transition: opacity 0.3s ease;
    /* Smooth transition for opacity */
}

.workLinks:hover h3 {
    display: block;
}

section:nth-of-type(3) {
    width: 100%;
    background-color: #c6d8af;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcaseRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 100px auto;
    perspective: 1000px;
}
.showcaseRow:hover .showcaseText{
    opacity: 1;
}
.showcaseRow:hover .desktopShowcaseOne{
    filter: blur(5px);
}
.showcaseText h2{
    text-transform: uppercase;
    font-family: monospace;
    font-size: clamp(1rem,2vw,2rem);
    color: #685369;
}
.showcaseText{
    opacity: 0;
    position: absolute;
    z-index: 13;
}

.desktopShowcaseOne {
    height: 300px;
    width: 400px;
    background-image: linear-gradient(rgba(0, 247, 255, 0.418), rgba(255, 187, 0, 0.534));
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    white-space: nowrap;
    align-items: center;
    text-align: center;
    font-size: clamp(.4rem, 1vw, .7rem);
    border-radius: 15px;
    transition-duration: 2s;
}
.desktopShowcaseOne:hover {
    transform: rotateY(30deg);
}

.dsk-logo {
    grid-column: 1/4;
    grid-row: 1/3;
    margin: auto;
    font-size: 30px;
    transition-duration: 1s;
}

.dsk-logo:hover {
    color: pink;
}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-column: 3/13;
    grid-row: 1/3;
    text-transform: uppercase;
}

.navi h5:hover {
    color: white;
}

.sidenav {
    grid-column: 1/4;
    grid-row: 3/13;
    height: 95%;
    margin: 10px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.308);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.sidenav h5:hover{
    color: white;
}

.dsk-main {
    grid-column: 4/13;
    grid-row: 3/7;
    height: 95%;
    margin: 5px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.308);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dsk-main *{
    border-radius: 25px;
}
.shadowSquare{
    width: 100px;
    margin: 1rem;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 255, 255, 0.308);
}
.shadowSquare2{
    width: 250px;
    margin: 20px;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 255, 255, 0.308);
}
.shadowSquare3{
    margin: 15px;
    border-radius: 25px;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 255, 255, 0.308);
}
.dsk-section {
    grid-column: 4/10;
    grid-row: 7/10;
    height: 95%;
    margin: 5px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.308);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dsk-section2 {
    grid-column: 10/13;
    grid-row: 7/10;
    height: 95%;
    margin: 5px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.308);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dsk-section3 {
    grid-column: 4/13;
    grid-row: 10/13;
    height: 95%;
    margin: 5px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.308);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
































/**






comment out test section





**/
/* 
.darkSec {
    width: 100%;
    background-color: #685369;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}

.showcaseRow {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    perspective: 3000px;

}

.darkSec h1 {
    font-size: clamp(.5rem, 3vw, 1.5rem);
}
.darkSec img{
    border-radius: 50%;
}

.bwsection img {
    width: 25%;
    height: auto;
    margin: 10px;
}

.bwad img,
.bwsection2 img {
    width: calc(100% - 20px);
    margin: 10px;
}

.bwsection p {
    font-size: clamp(.2rem, 2vw, 1rem);
    width: 80%;
    margin: auto 10px;
    padding: 10px;
}

.bwarticle p {
    font-size: clamp(4px, 1vw, 12px);
    width: 80%;
    margin: auto 10px;
    padding: 10px;
}

.bwfooter p {
    font-size: clamp(4px, 1vw, 12px);
    width: 60%;
    margin: auto 10px;
    padding: 10px;
}

.desktopBW {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30vw;
    width: 45vw;
    background-color: white;
    margin-right: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.mobileBW {
    margin-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 30vw;
    width: 20vw;
    background-color: white;
}

.desktopBW * {
    margin: 1px;
}

.bwhead,
.bwfooter {
    width: calc(100% - 2px);
    background-color: #c6d8af;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bwsection {
    width: calc(100% - 2px);
    background-color: #fcc8b2;
}

.bwad {
    width: calc(25% - 2px);
    background-color: #c6d8af;

}

.bwarticle {
    width: calc(50% - 2px);
    background-color: #fcc8b2;
}

.bwsection2 {
    width: calc(25% - 2px);
    background-color: #c6d8af;
}

.exampleBox2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3px;
}

.bwheadM, .bwfooterM {
    width: 100%;
    background-color: #c6d8af;
}
.bwfooterM p{
    font-size: clamp(.2rem,1vw,1rem);
}

.bwheadM h1 {
    white-space: nowrap;
    font-size: clamp(.3rem, 1vw, 1rem);
}

.bwsectionM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #fcc8b2;

}

.bwsectionM img {
    width: 50%;
    margin: 5px;
}

.bwsectionM p {
    font-size: clamp(.1rem, 1vw, 1rem);
    width: 80%;
    margin: 20px;
}

.bwadM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #c6d8af;
}

.bwadM img {
    width: 50%;
    margin: 10px;
}

.bwarticleM {
    width: 100%;
    background-color: #fcc8b2;

}

.bwarticleM p {
    font-size: clamp(.1rem, 1vw, 1rem);
    padding: 10px;
    text-align: center;
}
.bwsection2M{
    width: 100%;
    background-color: #c6d8af;
}
.bwsection2M img{
    width: 50%;
    margin: 10px;
} */


/**

DESKTOP VIEW

**/
@media screen and (min-width: 500px) {

    section:nth-of-type(1),
    section:nth-of-type(2) {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .floatingHead {
        z-index: 10;
        position: fixed;
        top: 4%;
        left: 5rem;
        width: 150px;
        height: 150px;
        background-image: linear-gradient(#dbd8b3, #dbd8b3);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
        transition-duration: 2s;
    }

    .floatingHead img {
        width: 150%;
        height: auto;
        clip-path: circle();
        object-fit: cover;
        object-position: 10px;
    }

    .floatingHead:hover {
        background-image: linear-gradient(#685369, #dbd8b3);
        width: 200px;
        height: 200px;
        top: calc(4% - 25px);
        left: calc(5rem - 25px)
    }
}