body {
  --scroll: 0;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  background-color: pink;
  animation: idleColor 60s linear 0s 2 alternate;
}

::-webkit-scrollbar {
  display: none;
}

.circleHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  opacity: 0;
  animation: fadein 1s linear 0.5s 1 forwards;
  text-align: center;
}

.circleHead h1 {
}
.circleHead i{
  margin: auto;
  font-size: 30px;
}
.circleHead i:hover{
  color: white;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  opacity: 0;
  animation: fadein 1s linear 1.5s 1 forwards;
}

li {
  font-family: 'Courier New', Courier, monospace;
}

.experience {
  transform: translateY(400px);
  width: 90%;
  background-color: black;
  z-index: 1;
}

.skills {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 25px;
  justify-content: space-around;
  font-size: 30px;
}

.skills i:nth-child(1) {
  animation: colorFlash .5s linear 3s 2 forwards;
}

.skills i:nth-child(2) {
  animation: colorFlash .5s linear 3.1s 2 forwards;
}

.skills i:nth-child(3) {
  animation: colorFlash .5s linear 3.2s 2 forwards;
}

.skills i:nth-child(4) {
  animation: colorFlash .5s linear 3.3s 2 forwards;
}


#personalWorkTitle:hover .projects {
  display: block;
}

#personalWorkTitle:hover h2 {
  color: red;
}

#personalWorkTitle h2 {
  animation: shake .5s linear 2s 1 forwards;
}

.projects {
  display: none;
}

#professionalWork:hover .resume {
  display: block;
  width: 80%;
  margin: auto;
}

#professionalWork:hover h2 {
  text-align: center;
  color: red;
}

#professionalWork h2 {
  animation: shake .5s linear 2.5s 1 forwards;
}

.skillsDiv h2 {
  animation: shake .5s linear 3s 1 forwards;
}

.resume {
  display: none;
}
.skillsDiv:hover .skillsList{
  display: block;
}
.skillsDiv:hover h2{
  color: red;
}
.skillsList{
  display: none;
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }

  20% {
    transform: rotateZ(5deg);
  }

  40% {
    transform: rotateZ(-5deg);
  }

  60% {
    transform: rotateZ(5deg);
  }

  80% {
    transform: rotateZ(-5deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}
@keyframes fadein2 {
  from {
    opacity: 0;
    display: none;
  }

  to {
    opacity: 1;
    display: block;
  }

}

@keyframes colorFlash {
  0% {
    color: black;
  }

  50% {
    color: white;
  }

  100% {
    color: black;
  }
}
@keyframes idleColor {
  0%{
    background-color: pink;
  }
  50%{
    background-color: white;
  }
  100%{
    background-color: rgb(211, 83, 211);
  }
  
}