body {
    font-family: "Bob's Burgers 2", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
}

button:hover {
    background-color: lightgreen;
    color: black;
}

.charactersBut {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
}

.buttons {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.buttons>button {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    color: black;
    background-color: yellow;
    transition: 2s;
}
.buttons>button:hover{
    width: 100px;
    height: 100px;
    background-color: white;
}
.episodes, .storeNextDoor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.episodes > div, .storeNextDoor>div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
}
#tableDataEpi{
    flex-direction: column;
    text-align: center;
}