body {
  --scroll: 0;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  background-color: pink;
  /* animation: color 10s linear 0s infinite forwards; */
}

::-webkit-scrollbar {
  display: none;
}

.circleHead {
  margin: 50px;
}

.circleHead h1 {}

#softwareDev {}

h1 {
  /* font-size: clamp(20px, 14vw, 70px); */
  /* transform: rotate3d(.5, -1, 1, calc(360deg * var(--scroll)));
  transition: transform 0.1s;  */
}
li{
  font-family: 'Courier New', Courier, monospace;
}
.experience {
  transform: translateY(400px);
  width: 90%;
  background-color: black;
  z-index: 1;
}
.skills{
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 25px;
  justify-content: space-around;
  font-size: 30px;
}
#personalWorkTitle:hover .projects{
  display: block;
}
#personalWorkTitle:hover h2{
  color: red;
}
.projects{
  display: none;
}
#professionalWork:hover .resume{
  display: block;
  width: 80%;
  margin: auto;
}
#professionalWork:hover h2{
  text-align: center;
  color: red;
}
.resume{
  display: none;
}
@keyframes color {
  from{
    background-color: white;
  }
  25%{
    background-color: rgb(165, 41, 165);
  }
  50%{
    background-color: rgb(73, 158, 158);
  }
  75%{
    background-color: rgb(165, 41, 165);
  }
  100%{
    background-color: white;
  }
  
}