:root {
    --color1: #ecc8af;
    --color2: #e7ad99;
    --color3: #ce796b;
    --color4: #c18c5d;
    --color5: #495867;
}
body{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    background-attachment: fixed; /*edit*/
    background-image: linear-gradient(to bottom, var(--color2), var(--color3));
}

a{
    text-decoration: none;
}

.demoDiv{
    color: var(--color5);
    width: 200px;
    background-image: radial-gradient(circle, var(--color3) 0%, rgba(255,255,255,0));
    height: 150px;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    letter-spacing: .5rem;
    font-family: "Luckiest Guy", cursive;
    /* border: 2px solid black; */
}
.demoDiv:hover{
    color: white;
    animation: wiggle .2s 0s 1 forwards;
}
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(10deg);
    }
    66%{
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
