:root {
    --color1: #7CFEF0;
    --color2: #6BFFB8;
    --color3: #2CEAA3;
    --color4: #28965A;
    --color5: #2A6041;
}
body{
    font-family: "Exo", sans-serif;
    margin: 0;
}
#entranceBanner {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100%;
    max-width: 600px; /* Adjust as needed */
    animation: entranceMessage .5s ease-in;
    background-color: white;
}
header{
    width: 100%;
    height: 20vh;
    background-color: var(--color5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    img{
        border-radius: 100%;
        max-width: 100px;
    }
    h1{
        font-size: 4rem;
        color: var(--color1);
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--color1);

    }
    i{        color: var(--color1);

        font-size: 2rem;
    }
}
nav{
    width: 100%;
    height: 10vh;
    background-color: var(--color2);

}
main{
    width: 100%;
    height: 60vh;
    background-color: var(--color4);
}
footer{
    width: 100%;
    height: 10vh;
    background-color: var(--color5);
}
@keyframes entranceMessage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

@media screen and (max-width:700px) {
    header{
        height: auto;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
        color: red;
    }}
}