body {
  margin: 0;
  font-family: "Bitter", "Helvetica", sans-serif;
  background-color: rgba(120,255,244, calc(var(--scroll)/5));
}
.profileCircle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: rgba(100, 100, 0, 0.1);
  margin: 50px auto;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
}
a {
  text-decoration: none;
}
.profileCircle {
  display: none;
}
.navItems {
  display: none;
  background-color: rgba(255, 240, 33, 0.486);
  width: 100%;
  padding: auto;
}
.navItems * {
  margin: 5px;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: black;
  border-radius: 25px;
}
.navItems *:hover div {
  margin: 5px;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: black;
  background-color: rgba(255, 240, 33, 0.9);
}

.dropdownButton {
  background-color: rgba(0, 128, 128, 0.39);
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navHolder {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
}
img {
  width: 100%;
}
.hero {
  padding: 100px 0 0 0;
}
#publications {
  width: 90%;
  margin: auto;
}
.bookCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bookCard img {
  width: 60%;
  max-width: 500px;
  margin: auto;
}
#publications h2 {
  text-align: center;
}

@media (min-width: 900px) {
  .profileCircle {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: rgba(100, 100, 0, 0.1);
    margin: 50px auto;
  }
}
